{% extends "core/base.html" %}

{% load material_form %} 

{% block title %}Signup Success{% endblock %}

{% block css %}{% endblock %}

{% block js %}
	<script type="text/javascript">
		$( document ).ready(function() {
			setTimeout(function(){ window.location.href="{% url 'core:login' %}" }, 3000);
		});
	</script>
{% endblock %}

{% block messages %}

{% endblock %}

{% block content %}
	<div class="container expand-on-small-only">
	<div class="row valign change-form">
    <div class="col s12 m10 offset-m1 l10 offset-l1">
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div class="card">
		<form method="POST" class="viewform">
			<div class="card-content">
				<span class="card-content"><!-- Empty Span to even the vertical spacing --></span>
				<span class="card-title grey-text text-darken-2" style="font-size:3rem;font-weight:200;text-align:center;">
					Signup Successful. Redirecting.
				</span>
				<span class="card-content">
				{% if messages %}
					<ul class="messages">
						{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				</span>
			</div>
		</form>	
	</div>
	</div>
	</div>
	</div>
{% endblock %}