{% extends "testoauth/base.html" %}

{% load material_form %} 

{% block title %}Signup{% endblock %}

{% block css %}{% endblock %}

{% block js %}{% endblock %}

{% block messages %}

{% endblock %}

{% block content %}
	<div class="container expand-on-small-only">
	<div class="row valign change-form">
    <div class="col s12 m10 offset-m1 l10 offset-l1">
    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div class="card">
		<form method="POST" class="viewform">
			<div class="card-content">
				<span class="card-title grey-text text-darken-2">Signup Form</span>
				<span class="card-content">
				{% if messages %}
					<ul class="messages">
						{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				</span>
				{% csrf_token %}
				{% form form=form %}
					 {% part form.webmail prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
					 {% part form.password prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}
					 {% part form.mail_server prefix %}<i class="material-icons prefix">email</i>{% endpart %}
				{% endform %}
				<button type="submit" name="_submit" class="btn btn-primary btn-lg">Submit</button>
			</div>
		</form>	
	</div>
	</div>
	</div>
	</div>
{% endblock %}